.cart-widget {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
  color: white;
}

.cart-count {
  margin-left: 0.3rem;
  font-weight: bold;
  color: #333;
}

.cart-icon {
    color: white;
}
