.nav-container {
    background-color: #1E2639;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brand-logo {
    height: 30px;
}

.divider-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.nav-category {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.nav-category:hover {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    
}

.cart-container {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    transition: transform 0.2s ease;
}

.cart-container:hover {
    transform: scale(1.1);
}

.cart-icon {
    width: 25px;
    height: 30px;
    color: #050505;
}

.counter-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: red;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 10;
}